src/main/resources/wsdl/sicabe/data.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	targetNamespace="http://schemas.dges.pt/data/sicabe/v1"
	xmlns:tns="http://schemas.dges.pt/data/sicabe/v1">
	
	<xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" schemaLocation="arrays.xsd" />
	<xsd:import namespace="http://schemas.datacontract.org/2004/07/SICABE.Contracts" schemaLocation="contracts.xsd" />
	<xsd:complexType name="BaseRequest">
		<xsd:sequence>
			<xsd:element name="IdentificadorCandidatura"
				nillable="true" type="tns:IdentificadorCandidatura" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RegistarMatriculaAlunoRequest">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:BaseRequest">
				<xsd:sequence>
					<xsd:element name="CodigoCurso" nillable="true"
						type="xsd:string" />
					<xsd:element name="CodigoInstituicaoEnsino"
						type="xsd:int" />
					<xsd:element name="DataMatricula" type="xsd:dateTime" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="RegistarMatriculaAlunoRequest"
		nillable="true" type="tns:RegistarMatriculaAlunoRequest" />
	<xsd:element name="BaseRequest" nillable="true"
		type="tns:BaseRequest" />
	<xsd:complexType name="IdentificadorCandidatura">
		<xsd:sequence>
			<xsd:element name="AnoLectivo" type="xsd:int" />
			<xsd:element minOccurs="0" name="DocumentoIdentificacao"
				nillable="true" type="xsd:string" />
			<xsd:element minOccurs="0" name="Nif" nillable="true"
				type="xsd:string" />
			<xsd:element minOccurs="0"
				name="TipoDocumentoIdentificacao"
				type="tns:TipoDocumentoIdentificacao">
				<xsd:annotation>
					<xsd:appinfo>
						<DefaultValue EmitDefaultValue="false"
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="IdentificadorCandidatura"
		nillable="true" type="tns:IdentificadorCandidatura" />
	<xsd:simpleType name="TipoDocumentoIdentificacao">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BI">
				<xsd:annotation>
					<xsd:appinfo>
						<EnumerationValue
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NIF">
				<xsd:annotation>
					<xsd:appinfo>
						<EnumerationValue
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Passaporte">
				<xsd:annotation>
					<xsd:appinfo>
						<EnumerationValue
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BiNaoNacional">
				<xsd:annotation>
					<xsd:appinfo>
						<EnumerationValue
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AutorizacaoResidencia">
				<xsd:annotation>
					<xsd:appinfo>
						<EnumerationValue
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Outros">
				<xsd:annotation>
					<xsd:appinfo>
						<EnumerationValue
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="TipoDocumentoIdentificacao"
		nillable="true" type="tns:TipoDocumentoIdentificacao" />
	<xsd:complexType name="RegistarMatriculaAlunoResponse">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:BaseResponse">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="RegistarMatriculaAlunoResponse"
		nillable="true" type="tns:RegistarMatriculaAlunoResponse" />
	<xsd:complexType name="BaseResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Error" nillable="true"
				type="tns:SicabeErrorMessage" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="BaseResponse" nillable="true"
		type="tns:BaseResponse" />
	<xsd:complexType name="SicabeErrorMessage">
		<xsd:sequence>
			<xsd:element name="ErrorDescription" nillable="true"
				type="xsd:string" />
			<xsd:element name="ErrorId" nillable="true"
				type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SicabeErrorMessage" nillable="true"
		type="tns:SicabeErrorMessage" />
	<xsd:complexType name="SicabeValidationMessage">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:SicabeErrorMessage">
				<xsd:sequence>
					<xsd:element name="InvalidParameters" nillable="true"
						type="tns:ArrayOfSicabeValidationEntry" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SicabeValidationMessage" nillable="true"
		type="tns:SicabeValidationMessage" />
	<xsd:complexType name="ArrayOfSicabeValidationEntry">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="unbounded"
				name="SicabeValidationEntry" nillable="true"
				type="tns:SicabeValidationEntry" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ArrayOfSicabeValidationEntry"
		nillable="true" type="tns:ArrayOfSicabeValidationEntry" />
	<xsd:complexType name="SicabeValidationEntry">
		<xsd:sequence>
			<xsd:element name="ErrorMessage" nillable="true"
				type="xsd:string" />
			<xsd:element name="ParameterName" nillable="true"
				type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SicabeValidationEntry" nillable="true"
		type="tns:SicabeValidationEntry" />
	<xsd:complexType name="SicabeBusinessMessage">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:SicabeErrorMessage">
				<xsd:sequence>
					<xsd:element name="Messages" nillable="true"
						type="q15:ArrayOfstring"
						xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SicabeBusinessMessage" nillable="true"
		type="tns:SicabeBusinessMessage" />
	<xsd:complexType name="AlterarCursoInsituicaoRequest">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:BaseRequest">
				<xsd:sequence>
					<xsd:element name="CodigoCurso" nillable="true"
						type="xsd:string" />
					<xsd:element name="CodigoInstituicaoEnsino"
						type="xsd:int" />
					<xsd:element name="DataMudanca" type="xsd:dateTime" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AlterarCursoInsituicaoRequest"
		nillable="true" type="tns:AlterarCursoInsituicaoRequest" />
	<xsd:complexType name="AlterarCursoInsituicaoResponse">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:BaseResponse">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AlterarCursoInsituicaoResponse"
		nillable="true" type="tns:AlterarCursoInsituicaoResponse" />
	<xsd:complexType
		name="AlterarDadosAcademicosRestantesCasosRequest">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:BaseRequest">
				<xsd:sequence>
					<xsd:element name="AnoInscricaoCurso" type="xsd:int" />
					<xsd:element name="AnoLectivoActual" type="xsd:int" />
					<xsd:element name="CodRegimeIngresso" type="xsd:int" />
					<xsd:element name="CodigoCurso" nillable="true"
						type="xsd:string" />
					<xsd:element name="CodigoInstituicaoEnsino"
						type="xsd:int" />
					<xsd:element
						name="DataConclusaoAtosAcademicosUltimoAnoLectivoInscrito"
						type="xsd:dateTime" />
					<xsd:element name="DataInscricaoAnoLectivo"
						type="xsd:dateTime" />
					<xsd:element name="MesPrimeiroPagamento" type="xsd:int" />
					<xsd:element name="NumeroAluno" nillable="true"
						type="xsd:string" />
					<xsd:element name="NumeroAnosCurso" type="xsd:int" />
					<xsd:element name="NumeroECTSActualmenteInscrito"
						type="xsd:decimal" />
					<xsd:element name="NumeroECTSObtidosUltimoAnoInscrito"
						type="xsd:decimal" />
					<xsd:element name="NumeroECTSUltimoAnoInscrito"
						type="xsd:decimal" />
					<xsd:element
						name="NumeroInscricoesCicloEstudosTempoIntegral" type="xsd:int" />
					<xsd:element name="NumeroMatriculas" type="xsd:int" />
					<xsd:element name="NumeroMesesPropina" type="xsd:int" />
					<xsd:element name="NumeroOcorrenciasMudancaCurso"
						type="xsd:int" />
					<xsd:element minOccurs="0" name="Observacoes"
						nillable="true" type="xsd:string" />
					<xsd:element name="PresenteAnoMudouDeCurso"
						type="xsd:boolean" />
					<xsd:element name="Regime" type="tns:TipoRegime" />
					<xsd:element name="TitularCET" type="xsd:boolean" />
					<xsd:element name="TitularCSTP" type="xsd:boolean" />
					<xsd:element name="TitularDoutoramento"
						type="xsd:boolean" />
					<xsd:element name="TitularLicenciatura"
						type="xsd:boolean" />
					<xsd:element name="TitularMestrado" type="xsd:boolean" />
					<xsd:element name="UltimoAnoInscrito" type="xsd:int" />
					<xsd:element name="ValorPropina" type="xsd:decimal" />
					<xsd:element name="iInscritoAnoLectivoActual"
						type="xsd:boolean" />
					<xsd:element name="totalECTScursoAtingirGrau"
						type="xsd:decimal" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element
		name="AlterarDadosAcademicosRestantesCasosRequest" nillable="true"
		type="tns:AlterarDadosAcademicosRestantesCasosRequest" />
	<xsd:simpleType name="TipoRegime">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TempoIntegral">
				<xsd:annotation>
					<xsd:appinfo>
						<EnumerationValue
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration
				value="TrabalhadorEstudanteTempoIntegral">
				<xsd:annotation>
					<xsd:appinfo>
						<EnumerationValue
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TempoParcial">
				<xsd:annotation>
					<xsd:appinfo>
						<EnumerationValue
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EstagioProfissional">
				<xsd:annotation>
					<xsd:appinfo>
						<EnumerationValue
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration
				value="TrabalhadorEstudanteTempoParcial">
				<xsd:annotation>
					<xsd:appinfo>
						<EnumerationValue
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="TipoRegime" nillable="true"
		type="tns:TipoRegime" />
	<xsd:complexType
		name="AlterarDadosAcademicosRestantesCasosResponse">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:BaseResponse">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element
		name="AlterarDadosAcademicosRestantesCasosResponse" nillable="true"
		type="tns:AlterarDadosAcademicosRestantesCasosResponse" />
	<xsd:complexType
		name="AlterarDadosAcademicosPrimeiraVezRequest">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:BaseRequest">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="AnoInscricaoCurso"
						type="xsd:int" />
					<xsd:element name="CodRegimeIngresso" type="xsd:int" />
					<xsd:element name="CodigoCurso" nillable="true"
						type="xsd:string" />
					<xsd:element name="CodigoInstituicaoEnsino"
						type="xsd:int" />
					<xsd:element name="DataInscricaoAnoLectivo"
						type="xsd:dateTime" />
					<xsd:element name="MesPrimeiroPagamento" type="xsd:int" />
					<xsd:element name="NumeroAluno" nillable="true"
						type="xsd:string" />
					<xsd:element name="NumeroAnosCurso" type="xsd:int" />
					<xsd:element name="NumeroECTSActualInscrito"
						type="xsd:decimal" />
					<xsd:element name="NumeroMatriculas" type="xsd:int" />
					<xsd:element name="NumeroMesesPropina" type="xsd:int" />
					<xsd:element minOccurs="0" name="Observacoes"
						nillable="true" type="xsd:string" />
					<xsd:element name="Regime" type="tns:TipoRegime" />
					<xsd:element name="TitularCET" type="xsd:boolean" />
					<xsd:element name="TitularCSTP" type="xsd:boolean" />
					<xsd:element name="TitularDoutoramento"
						type="xsd:boolean" />
					<xsd:element name="TitularLicenciatura"
						type="xsd:boolean" />
					<xsd:element name="TitularMestrado" type="xsd:boolean" />
					<xsd:element name="ValorPropina" type="xsd:decimal" />
					<xsd:element name="iInscritoAnoLectivoActual"
						type="xsd:boolean" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element
		name="AlterarDadosAcademicosPrimeiraVezRequest" nillable="true"
		type="tns:AlterarDadosAcademicosPrimeiraVezRequest" />
	<xsd:complexType
		name="AlterarDadosAcademicosPrimeiraVezResponse">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:BaseResponse">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element
		name="AlterarDadosAcademicosPrimeiraVezResponse" nillable="true"
		type="tns:AlterarDadosAcademicosPrimeiraVezResponse" />
	<xsd:complexType name="ObterEstadoCandidaturaRequest">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:BaseRequest">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ObterEstadoCandidaturaRequest"
		nillable="true" type="tns:ObterEstadoCandidaturaRequest" />
	<xsd:complexType name="ObterEstadoCandidaturaResponse">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:BaseResponse">
				<xsd:sequence>
					<xsd:element name="CodigoCurso" nillable="true"
						type="xsd:string" />
					<xsd:element name="CodigoInstituicaoEnsino"
						type="xsd:int" />
					<xsd:element name="DataResultadoDefinitivo"
						type="xsd:dateTime" />
					<xsd:element name="DataSubmissao" type="xsd:dateTime" />
					<xsd:element minOccurs="0"
						name="DescrMotivoIndeferimento" nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="EmailTecnico"
						nillable="true" type="xsd:string" />
					<xsd:element name="EstadoCandidatura" nillable="true"
						type="tns:Estado" />
					<xsd:element name="ExistenciaReclamacao"
						type="xsd:boolean" />
					<xsd:element name="NomeCandidato" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="NomeTecnico"
						nillable="true" type="xsd:string" />
					<xsd:element name="NumeroCandidatura" type="xsd:int" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ObterEstadoCandidaturaResponse"
		nillable="true" type="tns:ObterEstadoCandidaturaResponse" />
	<xsd:complexType name="Estado">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="DataAtribuicao"
				type="xsd:dateTime">
				<xsd:annotation>
					<xsd:appinfo>
						<DefaultValue EmitDefaultValue="false"
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="Descricao"
				nillable="true" type="xsd:string" />
			<xsd:element minOccurs="0"
				name="ResultadoEstadoCandidatura"
				type="tns:ResultadoEstadoCandidatura" />
			<xsd:element minOccurs="0" name="ValorBolsa"
				type="xsd:decimal">
				<xsd:annotation>
					<xsd:appinfo>
						<DefaultValue EmitDefaultValue="false"
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Estado" nillable="true"
		type="tns:Estado" />
	<xsd:simpleType name="ResultadoEstadoCandidatura">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Indeferida">
				<xsd:annotation>
					<xsd:appinfo>
						<EnumerationValue
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Deferida">
				<xsd:annotation>
					<xsd:appinfo>
						<EnumerationValue
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NaoDeterminado">
				<xsd:annotation>
					<xsd:appinfo>
						<EnumerationValue
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="ResultadoEstadoCandidatura"
		nillable="true" type="tns:ResultadoEstadoCandidatura" />
	<xsd:complexType
		name="ObterCandidaturasSubmetidasRequest">
		<xsd:sequence>
			<xsd:element name="AnoLectivo" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ObterCandidaturasSubmetidasRequest"
		nillable="true" type="tns:ObterCandidaturasSubmetidasRequest" />
	<xsd:complexType
		name="ObterCandidaturasSubmetidasResponse">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:BaseResponse">
				<xsd:sequence>
					<xsd:element name="Candidaturas" nillable="true"
						type="tns:ArrayOfCandidaturaSubmetida" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ObterCandidaturasSubmetidasResponse"
		nillable="true" type="tns:ObterCandidaturasSubmetidasResponse" />
	<xsd:complexType name="ArrayOfCandidaturaSubmetida">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="unbounded"
				name="CandidaturaSubmetida" nillable="true"
				type="tns:CandidaturaSubmetida" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ArrayOfCandidaturaSubmetida"
		nillable="true" type="tns:ArrayOfCandidaturaSubmetida" />
	<xsd:complexType name="CandidaturaSubmetida">
		<xsd:sequence>
			<xsd:element name="CodigoCurso" nillable="true"
				type="xsd:string" />
			<xsd:element name="CodigoInstituicaoEnsino"
				type="xsd:int" />
			<xsd:element name="Curso" nillable="true"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="DataSubmissao"
				type="xsd:dateTime">
				<xsd:annotation>
					<xsd:appinfo>
						<DefaultValue EmitDefaultValue="false"
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="EmailTecnico"
				nillable="true" type="xsd:string" />
			<xsd:element name="EstadoCandidatura" nillable="true"
				type="tns:Estado" />
			<xsd:element name="InstituicaoEnsino" nillable="true"
				type="xsd:string" />
			<xsd:element name="Nif" nillable="true" type="xsd:string" />
			<xsd:element minOccurs="0" name="NomeCandidato"
				nillable="true" type="xsd:string" />
			<xsd:element minOccurs="0" name="NomeTecnico"
				nillable="true" type="xsd:string" />
			<xsd:element minOccurs="0" name="NumeroAluno"
				nillable="true" type="xsd:string" />
			<xsd:element name="NumeroCandidatura" type="xsd:int" />
			<xsd:element name="NumeroDocumentoIdentificacao"
				nillable="true" type="xsd:string" />
			<xsd:element name="TipoDocumentoIdentificacao"
				type="tns:TipoDocumentoIdentificacao" />
			<xsd:element minOccurs="0" name="Titularidade"
				nillable="true" type="q16:Titularidade"
				xmlns:q16="http://schemas.datacontract.org/2004/07/SICABE.Contracts" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CandidaturaSubmetida" nillable="true"
		type="tns:CandidaturaSubmetida" />
</xsd:schema>